# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build
dist
dist-ssr
*.local

# Dependencies
node_modules

# Editor settings
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Windows/JetBrains/VS specific
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
